* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 5%;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f202a;
  background-size: 100% 100%;
  color: #f7f7f9;
  height: 100vh;
}

html {
  font-size: 62.5%; // that's 10px from 16px
}

#root {
  height: 100%;
}

h1 {
  font-size: 4rem;
  margin: 0;
}
